# Node
node_modules/
dist/
dist-ssr/
out/
release/
*.local
*.tsbuildinfo

# Editors
.idea/
.vscode/*
!.vscode/extensions.json
*.swp

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
